<a href="https://colab.research.google.com/github/RomanKholev/RKH_Phyton/blob/master/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_10_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  robot
4  human

In [11]:
df = data
df.loc[:,'whoAmI_robot'] = df['whoAmI']  
df = df.rename(columns={'whoAmI': 'whoAmI_human'}) 
df = df.replace({'whoAmI_human': {'robot': int(0), 'human': int(1)}}) 
df = df.replace({'whoAmI_robot': {'robot': int(1), 'human': int(0)}})
print(df)

    whoAmI_human  whoAmI_robot
0              0             1
1              1             0
2              0             1
3              0             1
4              1             0
5              1             0
6              1             0
7              0             1
8              1             0
9              1             0
10             1             0
11             1             0
12             0             1
13             0             1
14             1             0
15             0             1
16             0             1
17             0             1
18             0             1
19             1             0